body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd; /* Warna latar belakang cream muda */
    color: #333;
}

header {
    background-color: #f8d2ab; /* Warna serasi dengan latar belakang cream */
    padding: 1px 0; /* Sedikit menambah padding untuk kenyamanan visual */
}

.navbar {
    display: flex;
    justify-content: center; /* Navbar di tengah */
    padding: 10px 0; /* Menambah jarak vertikal pada navbar */
    background-color: #f8d2ab; /* Warna serasi dengan latar belakang cream */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
    margin: 0 15px; /* Menambah jarak antar elemen navbar */
}

.navbar a {
    text-decoration: none;
    color: #333; /* Warna teks navbar agar terlihat elegan */
    font-weight: 500; /* Font weight antara light dan bold */
    font-size: 22px; /* Memperbesar ukuran font navbar */
    transition: color 0.3s ease; /* Menambahkan efek transisi */
}

.navbar a:hover, .navbar a.active {
    color: #8d603e; /* Warna teks saat hover atau active */
}

main {
    padding: 20px;
    text-align: center;
}

.produk-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Jarak antara produk */
}

.produk-item {
    border: 1px solid #d4a373; /* Bingkai produk dengan warna serasi */
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33% - 40px); /* Lebar produk seragam */
    box-sizing: border-box; /* Memastikan padding dan border termasuk dalam lebar dan tinggi */
    transition: transform 0.3s ease; /* Menambahkan efek transisi zoom */
}

.produk-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.produk-item:hover {
    transform: scale(1.05); /* Efek zoom in saat hover */
}

.beli-sekarang {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #d4a373;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Menambahkan efek transisi warna tombol */
}

.beli-sekarang:hover {
    background-color: #b3835f; /* Warna tombol saat hover */
}

footer {
    background-color: #f8d2ab; /* Warna serasi dengan latar belakang cream */
    text-align: center;
    padding: 5px 0; /* Memperkecil footer lebih lagi */
    width: 100%;
    bottom: 0;
    font-size: 0.8em; /* Mengurangi ukuran font footer */
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */
}
